.idea/

**/.DS_Store

**/target/

# Projects maven .iml files
**/ReaderWriterProblem.iml
**/ProducerConsumerProblemSimple.iml
**/Singleton.iml
**/Strategy.iml
**/Observer.iml
**/SpringBootAppContacts.iml
**/Decorator.iml
**/FactoryMethod.iml



# User-specific stuff:
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/dictionaries

# Sensitive or high-churn files:
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml


## File-based project format:
*.iws

**/.idea_modules/